<p>home page</p>

<section>
    <h4>Posts</h4>
    <form action="/posts/create" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="Enter text" required></textarea>
        <input type="submit" value="Post">
    </form>
</section>

<section>
    <ul>
        <% for (post of postlist){ %>
            <li>
                <div>
                    <% if (locals.user && locals.user.id == post.user.id){ %>
                        <small>
                            <a href="/posts/destroy/<%= post.id %>">X</a>
                        </small>
                    <% } %>
                    
                    <p><%= post.content %></p>
                    <p><%= post.user.name %></p>
                </div>
                <div>
                    <% if(locals.user){ %>
                        <form action="/comments/create" method="post">
                                <input type="text" name="content" placeholder="Add comment" required>
                                <input type="hidden" name="post" value="<%= post._id  %>">
                                <input type="submit" value="Add comment">
                        </form>
                    <% } %>
                </div>
                <div>
                    <ul id="post-comments-<%= post._id %>">
                        <% for (comment of post.comments){ %>
                            <p>
                                <% if (locals.user && (locals.user.id == comment.user.id || locals.user.id == post.user.id)){ %>
                                    <small>
                                        <a href="/comments/destroy/<%= comment.id %>">X</a>
                                    </small>
                                <% } %>
                                <%= comment.content %>
                                <br>
                                <small>
                                    <%= comment.user.name %>
                                </small>
                            </p>
                        <%} %>
                    </ul>
                </div>
            </li>
        <% } %>
    </ul>
</section>