<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="stylesheet" type="text/css" href="/css/chat_box.css">
<div id="home-container">
    <div id="post-container">
        <section>
            <h4>Posts</h4>
            <% if(locals.user){ %>
            <form action="/posts/create" method="post" id="new-post-form">
                <textarea name="content" cols="30" rows="3" placeholder="Enter text" required></textarea>
                <input type="submit" value="Post">
            </form>
            <% } %>
        </section>

        <section id="post-list-container">
            <ul>
                <% for (post of postlist){ %>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </section>
    </div>
    <section id="user-friends">
        <% for (u of all_users){ %>
            <p>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <% } %>
    </section>
    <%- include('_chatbox') -%>
</div>
<script src="/javascript/home_comments.js"></script>
<script src="/javascript/home_posts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script src="/javascript/chat_engine.js"></script>
<% if (locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>')
    </script>
<% } %>