<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/87f063257c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <%- style %>
</head>
<body>
    <%- include('_header'); %>
    
    <main>
        <h1> <%= title %> </h1>
        <%- body %>
    </main>
    
    <%- include('_footer'); %>
    <script type="text/javascript" src="javascript/script.js"></script>
    <%- script %>
</body>
</html>